body {
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid #000;
    border-radius: 0.75rem;
    margin: 0.5rem;
}

#box1 {
    background-color: green;
}

#box2 {
    background-color: yellow;
}

#box3 {
    background-color: red;
}

#box4 {
    background-color: blue;
}

.flash {
    background-color: #fff;
}